/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Coustard:wght@400;900&family=Fjalla+One&family=Playfair+Display&family=Rozha+One&display=swap');


/* //Style for background */

body {
  background: repeating-linear-gradient(
    0deg,
    #0e0d0e 25%,
    #0e0d0e 50%,
    #171819 50%,
    #171819 75%
  );
  background-size: 10px 10px;
  justify-content: center;
  align-items: center;
}

.h1 {
font-size: 24px;
}

/* "MoveUp" class to manually manipulate globe position */

.moveup {
  margin-top: -4%;
  margin-left: -5%;
  margin-bottom: -10%;
  position:relative;
}

/* "Target-Image" class to manually manipulate crosshairs */

.target-image
{  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 10%;
}

/* Style for ForeignBuró header */

.mid-title {
  font-size: 36px;
  letter-spacing: -4px;
  line-height: 85%;
  color: white;
  text-align: center;
  font-weight: 700;
}

/* //Style for country buttons */

.btn-cont {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.btn-cont .btn {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Rozha One', serif;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

.btn-cont .btn:hover {
  color: white;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}

.btn-cont .btn:focus {
  color: black;
  font-weight: 700;
  background-color: skyblue;
}

.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: skyblue;
  left: 0;
  top: 0;

}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: skyblue;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: skyblue;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: skyblue;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

/* Style for progress bar */

.progress {
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100%;
}

.progress-value {
  animation: load 4s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: skyblue;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Style for content cards */

.main-container {
  align-items: center;
  color: #eee;
  justify-content: center;
  letter-spacing: -1px;
  line-height: 90%;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  position: relative;
}

.card-2 {
  box-shadow: inset 0 0 10px #05C7F2, 0 0 20px #05C7F2;
  border: 2px solid skyblue;
  padding: 10px;
  margin: 10px;
  position:relative;
  width:100%;
}
.card-2 .card_title {
  font-weight: 700;
  animation: text-glow 1s ease-in-out infinite alternate;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  line-height:110%;
}

.card-2 .separator {
  height: 5px;
  width: 100%;
  background-color: skyblue;
  margin: 10px 0;
  box-shadow: 0 0 10px skyblue;
}

.card-2 .card_content {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  font-family: 'Rozha One', serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height:90%;
}

.card-warning {
  box-shadow: inset 0 0 10px red, 0 0 20px red;
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  position:relative;
  width:100%;
}

.card-warning .card_title {
  font-weight: 700;
  animation: text-glow 1s ease-in-out infinite alternate;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}
.card-warning .separator {
  height: 5px;
  width: 100%;
  background-color: red;
  margin: 10px 0;
  box-shadow: 0 0 10px red;
}

.card-warning .card_content {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  font-family: 'Rozha One', serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height:90%;
}

@keyframes text-glow {
  from {
    text-shadow: 0 0 1px skyblue;
  }
  to {
    text-shadow: 0 0 7px skyblue;
  }
}
.diagonal-gridlines {
  background: repeating-linear-gradient(-45deg, rgba(5, 175, 242, 0.1), rgba(5, 175, 242, 0.1) 2px, rgba(5, 199, 242, 0.02) 2px, rgba(5, 199, 242, 0.02) 10px), linear-gradient(135deg, transparent, rgba(5, 199, 242, 0.2));
}

/* 
Styles for glitching text */

.wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -10px;
  text-align: center;
}

.glitch {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero {
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}
 /* Style for typing text */

 .typing-demo {
  width:100%;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 16px;
  color: white;
  text-align: center;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* Styles for menu */

.menu {
  position: fixed;
  top: 5%;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
.menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: black;
  float: left;
  transform-origin: center center;
  transition: transform 250ms ease;
  z-index: 200;
}
.menu span:nth-of-type(1) {
  transform: translateY(-5px);
}
.menu span:nth-of-type(3) {
  transform: translateY(5px);
}

#menu {
  display: none;
}
#menu:checked ~ .menu {
  background-color: black;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span {
  background-color: white;
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span:nth-of-type(1) {
  transform: translateY(1px) rotate(45deg);
}
#menu:checked ~ .menu span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .menu span:nth-of-type(3) {
  transform: translateY(-1px) rotate(-45deg);
}
#menu:checked ~ .nav {
  left: 0px;
  transition: left 500ms ease;
  background-color: black;
  position: absolute;
  z-index: 1;
  width: 100%;
  height:100%;
  position:fixed;
}
#menu:checked .main {
  transform: translateX(250px);
  margin-left: 50%;
  transition: transform 500ms ease;
}

.nav {
  position: fixed;
  top: 0;
  left: -99%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: left;
  background-color: transparent;
  align-items: center;
  z-index: 0;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
}
.nav ul {
  position: relative;
  list-style-type: none;
  margin: 100px 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  display: block;
  border-bottom: 5px solid white;
}
.nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size:24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav ul li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1;
}
.nav ul li a:hover {
  color: #444;
}
.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: width 250ms ease;
}

.container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

main {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateX(0px);
  transition: transform 500ms ease;
  z-index: 0;
}
main header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
}
main header h1 {
  color: #ccc;
  z-index: 3;
}
main section {
  position: relative;
  display: block;
  margin: 0;
  padding: 50px 0;
  background-color: white;
  z-index: 100;
}
main section p {
  margin-bottom: 30px;
}
main .img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #444;
}
main .img h1 {
  color: rgba(255, 255, 255, 0.2);
}
main footer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 20px 20px;
  background-color: #444;
}
main footer::after {
  clear: both;
  content: "";
  display: block;
}
main footer .logo {
  font-size: 28px;
  color: whitesmoke;
  line-height: 0;
  margin-bottom: 8px;
  margin-right: 4px;
}
@media screen and (min-width: 1024px) {
  main footer .logo {
    float: left;
    margin-bottom: 0;
  }
}
main footer ul {
  line-height: 1.5;
  margin: 0 0 16px 0;
  padding: 0;
}
main footer ul::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (min-width: 1024px) {
  main footer ul {
    float: left;
    line-height: 1.8;
    margin-bottom: 0;
    margin-left: 16px;
  }
  main footer ul::after {
    clear: both;
    content: "";
    display: block;
  }
}
main footer ul li {
  list-style: none;
  padding-right: 16px;
}
@media screen and (min-width: 1024px) {
  main footer ul li {
    display: inline;
    text-align: left;
  }
}
main footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
main footer ul li a:focus, main footer ul li a:hover {
  color: white;
}
@media screen and (min-width: 1024px) {
  main footer .secondary-links {
    float: right;
  }
}
main footer .secondary-links li a {
  font-size: 12px;
  font-weight: 100 !important;
}
main footer .secondary-links .social {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 1024px) {
  main footer .secondary-links .social {
    float: right;
    margin-top: 0;
  }
}
main footer .secondary-links .social li {
  float: left;
  font-size: 1em;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
}
main footer .secondary-links .social li:last-child {
  padding-right: 0;
}
main footer .secondary-links .social li > a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #444;
  text-align: center;
  line-height: 30px;
}
main footer .secondary-links .social li > a:hover {
  background-color: white;
}

/* Style for toggle button */

.circle {
  height: 25px;
  width: 25px;
  font-size: 24px;
  border: none;
  margin-top: -22px;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  color:white;
  background-color: black;
  font-weight: bolder;
  float: right;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bolder;
}

/* Styles for loading animation */

